<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KonQuect Landing Page</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <header>
        <h2><a onclick="location.href='/';" href="#" class="logo">KonQuect</a></h2>
        <div class="navigation">
          <a onclick="location.href='/';" href="#">Home</a>
          <a onclick="location.href='/cryptoWallet';" href="#">Crypto Wallet</a>
          <a onclick="location.href='/';" href="#">Info</a>
          <a onclick="location.href='/';" href="#">Services</a>
          <a onclick="location.href='/contact';" href="#">Contact</a>
        </div>
      </header>
      <div class="content">
        <div class="info">
          <%- body %> 
          <a href="#" class="info-btn" onclick="location.href='https://www.pornhub.com/gayporn';">Just a regular button guys, nothing to see here ...</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="#"><i onclick="location.href='https://www.facebook.com/carl.ryskovaagesen/';" class="fab fa-facebook-f"></i></a>
        <a href="#"><i onclick="location.href='https://twitter.com/CarlRyskov';" class="fab fa-twitter"></i></a>
        <a href="#"><i onclick="location.href='https://www.instagram.com/carlryskov/';" class="fab fa-instagram"></i></a>
        <a href="#"><i onclick="location.href='https://www.linkedin.com/in/carl-ryskov-aagesen-0a8a561aa/';" class="fab fa-linkedin-in"></i></a>
      </div>
    </section>
  </body>
</html>
      