<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing page</title>
</head>
<body>
  <h2>GET THIS <br><span>FUCKING BREAD</span></h2>
          <p>Jagshemash! My name Borat.

            I like you. I like sex.
            
            It's nice.
            
            This my country of Kazakhstan.
            
            It locate between Tajikistan
            
            and Kyrgyzstan...
            
            ...and a**holes Uzbekistan.
            
            This my town of Kuzcek.
            
            This Urkin, the town rapist.
            
            Naughty, naughty.
            
            Over here, our town kindergarten.
            
            And here live Mukhtar Sakanov...
            
            ...town mechanic and abortionist.
            
            This my house. Entry, please.
            
            He is my neighbor,
            
            Nursultan Tulyakbay.

            He is pain in my a**holes.
            
            I get a window from a glass,
            
            he must get a window from a glass.
            
            I get a step, he must get a step.
            
            I get a clock radio, he cannot afford.
            
            Great success.</p>
        </div>
</body>
</html>