<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KonQuect Landing Page</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <header>
        <h2><a href="#" class="logo">KonQuect</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Info</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
        </div>
      </header>
      <div class="content">
        <div class="info">
          <h2>GET THIS <br><span>FUCKING BREAD</span></h2>
          <p>Jagshemash! My name Borat.

            I like you. I like sex.
            
            It's nice.
            
            This my country of Kazakhstan.
            
            It locate between Tajikistan
            
            and Kyrgyzstan...
            
            ...and a**holes Uzbekistan.
            
            This my town of Kuzcek.
            
            This Urkin, the town rapist.
            
            Naughty, naughty.
            
            Over here, our town kindergarten.
            
            And here live Mukhtar Sakanov...
            
            ...town mechanic and abortionist.
            
            This my house. Entry, please.
            
            He is my neighbor,
            
            Nursultan Tulyakbay.

            He is pain in my a**holes.
            
            I get a window from a glass,
            
            he must get a window from a glass.
            
            I get a step, he must get a step.
            
            I get a clock radio, he cannot afford.
            
            Great success.</p>
          <a href="#" class="info-btn">More Info</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </section>

  </body>
</html>
      